<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strangeman.alarmclock">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-feature android:name="android.hardware.autofocus"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.example.alarmclock.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.alarmclock.activities.ThemeActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent.Light"/>
        <activity
            android:name="com.example.alarmclock.activities.AlarmClockNewActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent.Light"/>
        <activity
            android:name="com.example.alarmclock.activities.AlarmClockEditActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent.Light"/>
        <activity
            android:name="com.example.alarmclock.activities.RingSelectActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent.Light"/>
        <activity
            android:name="com.example.alarmclock.activities.AlarmClockOntimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"/>
        <activity
            android:name="com.example.alarmclock.activities.AlarmClockNapNotificationActivity"
            android:theme="@android:style/Theme.NoDisplay"/>
        <activity
            android:name="com.example.alarmclock.activities.NapEditActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyDialog"/>
        <activity
            android:name="com.example.alarmclock.activities.TimerOnTimeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver
            android:name="com.example.alarmclock.broadcast.AlarmClockBroadcast">
        </receiver>
        <receiver
            android:name="com.example.alarmclock.broadcast.AlarmClockProcessReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.alarmclock.AlarmClockOff"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.example.alarmclock.service.CountDownService">
        </service>
    </application>

</manifest>