<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.strangeman.alarmclock">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- 操作SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-feature android:name="android.hardware.autofocus"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name="org.litepal.LitePalApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ThemeActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent.Light"/>
        <activity
            android:name=".activities.AlarmClockNewActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent.Light"/>
        <activity
            android:name=".activities.AlarmClockEditActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent.Light"/>
        <activity
            android:name=".activities.RingSelectActivity"
            android:launchMode="singleTop"
            android:theme="@style/Transparent.Light"/>
        <activity
            android:name=".activities.AlarmClockOntimeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Wallpaper.NoTitleBar"/>
        <activity
            android:name=".activities.AlarmClockNapNotificationActivity"
            android:theme="@android:style/Theme.NoDisplay"/>
        <activity
            android:name=".activities.NapEditActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MyDialog"/>
        <activity
            android:name=".activities.TimerOnTimeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver
            android:name=".broadcast.AlarmClockBroadcast"
            android:process=":daemon">
            <!--广播定义单独进程，在6.0上接受不到，不定义进程退到后台也接受不到。-->
            <!--广播和后台运行的服务保持在一个线程，只要服务不死，这样就都可以接受到广播了-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.CountDownService">
        </service>
    </application>

</manifest>